{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-center align-items-start" style="min-height: 100vh; padding-top: 120px;">
    <div class="glass-card p-4" style="width: 420px; border-radius: 16px;">

        <h2 class="mb-4 text-center text-light">Slaptažodžio keitimas</h2>

        {% if form.errors %}
            <div class="alert alert-danger text-center">
                Patikrinkite įvestus duomenis.
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label text-light">Senas slaptažodis</label>
                <input type="password" name="{{ form.old_password.name }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label text-light">Naujas slaptažodis</label>
                <input type="password" name="{{ form.new_password1.name }}" class="form-control" required>

                <small class="text-light d-block mt-2">
                    {{ form.new_password1.help_text }}
                </small>
            </div>

            <div class="mb-3">
                <label class="form-label text-light">Naujo slaptažodžio patvirtinimas</label>
                <input type="password" name="{{ form.new_password2.name }}" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-2">Keisti slaptažodį</button>
        </form>

    </div>
</div>

{% endblock %}
