{% extends "base.html" %}
{% block title %}Naujas slaptažodis{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 glass-card p-4">
            <h2 class="mb-4 text-center">Įveskite naują slaptažodį</h2>
            <form method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100">Pakeisti slaptažodį</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
