{% extends "base.html" %}
{% block title %}Automobilis{% endblock %}

{% block content %}
<h1>{{ car.make }} {{ car.model }}</h1>

<div class="glass-box">
    <p><strong>Klientas:</strong> {{ car.client_name }}</p>
    <p><strong>Valstybinis numeris:</strong> {{ car.license_plate }}</p>
    <p><strong>VIN kodas:</strong> {{ car.vin_code }}</p>
</div>


{% if car.photo %}
    <img src="{{ car.photo.url }}" class="img-fluid mb-3">
{% endif %}

<div class="glass-box p-3 mb-4">
    <h3>Aprašymas</h3>
    <div class="text-white">
        {{ car.description|default:"Nėra aprašymo" |safe }}
    </div>
</div>

<div class="glass-box">
<a href="{% url 'automobiliai' %}" class="btn btn-secondary">← Atgal į automobilius</a>
    </div>
{% endblock %}
