{% extends "base.html" %}
{% block title %}Užsakymai{% endblock %}

{% block content %}
<h1>Užsakymai</h1>

{% if orders %}
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nr.</th>
            <th>Automobilis</th>
            <th>Data</th>
            <th>Statusas</th>
            <th>Bendra suma</th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>
                <a href="{% url 'uzsakymas' order.id %}">
                    #{{ order.id }}
                </a>
            </td>
            <td>{{ order.car }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.total }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nėra užsakymų.</p>
{% endif %}

<!-- PUSLAPIAVIMAS -->
{% if is_paginated %}
<nav>
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Atgal</a>
            </li>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Pirmyn</a>
            </li>
        {% endif %}

    </ul>
</nav>
{% endif %}

{% endblock %}
