{% extends "base.html" %}
{% load static %}
{% block title %}Užsakymai{% endblock %}

{% block content %}

<h1 class="text-center mb-4" style="font-size: 50px;">Užsakymai</h1>

{% if orders %}
<div class="table-responsive fade-in">
<table class="table glass-table">
    <thead>
        <tr>
            <th>Nr.</th>
            <th>Automobilis</th>
            <th>Data</th>
            <th>Statusas</th>
            <th>Bendra suma</th>
        </tr>
    </thead>

    <tbody>
    {% for order in orders %}
        <tr>
            <td>
                <a href="{% url 'uzsakymas' order.id %}" class="table-link">
                    #{{ order.id }}
                </a>
            </td>

            <td>{{ order.car }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.total }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% else %}
<p class="text-center mt-4">Nėra užsakymų.</p>
{% endif %}

<!-- Puslapiavimas -->
{% if is_paginated %}
<nav>
    <ul class="pagination justify-content-center mt-4">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link glass-page" href="?page={{ page_obj.previous_page_number }}">Atgal</a>
            </li>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active">
                    <span class="page-link glass-page-active">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link glass-page" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link glass-page" href="?page={{ page_obj.next_page_number }}">Pirmyn</a>
            </li>
        {% endif %}

    </ul>
</nav>
{% endif %}

{% endblock %}
